/*
SPDX-FileCopyrightText: 2024 Carlo Castoldi <carlo.castoldi@outlook.com>

SPDX-License-Identifier: LGPL-3.0-or-later
*/

/* hide jupyter notebooks input/output numbers */
.jp-InputPrompt {
  display: none !important;
}
  
.jp-OutputPrompt {
  display: none !important;
}

/* copy codeblocks to clipboard */
.clipboard {
  position: relative;
  display: block;
  float: right;
  right: 70px;
  top: 4px;
  line-height: 0px;
  width: 0px;
  font: 11px system-ui,sans-serif;
  cursor: default;
}

.btn-clipboard {
  border: none !important;
  background-color: transparent !important;
  outline: none
}

span.notice {
  margin-right: 5px;
  visibility: hidden;
  width: 50px;
}

span.notice.show {
  visibility: visible;
}

.clipboard-copy-icon {
  width: 15px;
  padding: 2px 0;
  color: #57606a;
  vertical-align: text-bottom;
}

/* code snippets title */
.snippet span.filename {
  background-color: #f5f5f5;
  border-bottom: .05rem solid #00000012;
  border-top-left-radius: .1rem;
  border-top-right-radius: .1rem;
  display: flow-root;
  font-size: .85em;
  font-weight: 700;
  margin-top: 1em;
  padding: .6617647059em 1.1764705882em;
  position: relative;
}