# SPDX-FileCopyrightText: 2024 Carlo Castoldi <carlo.castoldi@outlook.com>
#
# SPDX-License-Identifier: CC0-1.0

**/__pycache__/
**/.ipynb_checkpoints/
data/
plots/
**/*.csv
**/*.html
docs/BraiAn_output/
.vscode/
.DS_Store
**/*.png
**/*.svg
**/*.json