# SPDX-FileCopyrightText: 2024 Carlo Castoldi <carlo.castoldi@outlook.com>
# 
# SPDX-License-Identifier: CC0-1.0

site_name: BraiAn Docs
repo_url: https://codeberg.org/SilvaLab/BraiAn
site_description: a versatile toolkit for whole-brain quantitative analysis
site_author: Carlo Castoldi

nav:
- index.md
- Tutorials: tutorials.md
- How-to guides:
  - how-to-guides.md
  - Notebook page: notebook.ipynb
- API reference: reference.md
exclude_docs:
  /resources/


theme:
  # name: material
  name: readthedocs
  highlightjs: true
  hljs_languages:
  - python
  # - toml
  include_homepage_in_sidebar: true
  prev_next_buttons_location: bottom
  navigation_depth: 4
  collapse_navigation: true
  titles_only: false
  sticky_navigation: true
  locale: en
  logo: null

plugins:
- search
- include-markdown:
    opening_tag: "{%"
    closing_tag: "%}"
    exclude:
      - "*.ipynb"
- mkdocs-jupyter:
    include_source: True
    include_requirejs: true # required by plotly
    execute: false
    # theme: dark
- progress
- autorefs
- mkdocstrings:
    default_handler: python
    handlers:
      python:
        import:
        - https://docs.python.org/3/objects.inv                     # python
        # - https://numpy.org/doc/stable/objects.inv                  # numpy
        - https://python.igraph.org/en/stable/api/objects.inv       # igraph
        - https://docs.scipy.org/doc/scipy/reference/objects.inv    # scipy
        - https://pandas.pydata.org/pandas-docs/stable/objects.inv  # pandas
        - https://plotly.com/python-api-reference/objects.inv       # plotly
        - https://matplotlib.org/stable/objects.inv                 # matplotlib
        options:
          docstring_style: numpy
          docstring_options:
            ignore_init_summary: false
            warn_unknown_params: true
          docstring_section_style: table # table, list or spacy
          filters: ["!^_"]
          heading_level: 1
          inherited_members: true
          merge_init_into_class: true
          parameter_headings: true
          # preload_modules: [mkdocstrings]
          separate_signature: true
          show_root_heading: true
          show_root_full_path: false
          show_signature_annotations: true
          show_source: false
          show_symbol_type_heading: true
          show_symbol_type_toc: true
          signature_crossrefs: true
          summary: true
          unwrap_annotated: true
          # extensions:
          #   - griffe_attrs

markdown_extensions:
  - admonition
  - pymdownx.escapeall:
      hardbreak: true