# SPDX-FileCopyrightText: 2024 Carlo Castoldi <carlo.castoldi@outlook.com>
# 
# SPDX-License-Identifier: CC0-1.0

site_name: BraiAn Docs
repo_url: https://codeberg.org/SilvaLab/BraiAn
site_description: a versatile toolkit for whole-brain quantitative analysis
site_author: Carlo Castoldi

nav:
- index.md
- Tutorials: tutorials.md
- How-to guides:
  - how-to-guides.md
  - Notebook page: notebook.ipynb
- API Reference:
  - braian: reference.md
exclude_docs:
  /resources/
watch:
- braian

theme:
  # name: material
  # custom_dir: docs/custom_theme/material
  name: readthedocs
  include_homepage_in_sidebar: true
  prev_next_buttons_location: bottom
  navigation_depth: 4
  collapse_navigation: true
  titles_only: false
  sticky_navigation: true
  locale: en
  logo: null
extra_css:
- custom_theme/material/style.css

plugins:
- search
- include-markdown:
    opening_tag: "{%"
    closing_tag: "%}"
    exclude:
      - "*.ipynb"
- mkdocs-jupyter:
    include_source: True
    include_requirejs: true # required by plotly
    execute: false
    # theme: dark
- progress
- autorefs
# - gen-files:
#     scripts:
#     - docs/scripts/gen_ref_pages.py
# - literate-nav:
#     nav_file: SUMMARY.md
# - section-index
- multi-theme:
    additional_themes:
    # - pages:
    #   - index.md
    #   - tutorials.md
    #   - how-to-guides.md
    #   - notebook.ipynb
    #   theme:
    #     name: readthedocs
    - pages:
      - reference.md
      theme:
        name: material
        custom_dir: docs/custom_theme/material
        highlightjs: true
        hljs_languages:
        - python
        include_homepage_in_sidebar: true
        prev_next_buttons_location: bottom
        navigation_depth: 4
        collapse_navigation: true
        titles_only: false
        sticky_navigation: true
        locale: en
        logo: null
- mkdocstrings:
    default_handler: python
    custom_templates: docs/custom_theme
    handlers:
      python:
        import:
        - https://docs.python.org/3/objects.inv                     # python
        - https://numpy.org/doc/stable/objects.inv                  # numpy
        - https://python.igraph.org/en/stable/api/objects.inv       # igraph
        # - https://igraph.org/python/doc/api/objects.inv             # igraph
        - https://docs.scipy.org/doc/scipy/reference/objects.inv    # scipy
        - https://pandas.pydata.org/pandas-docs/stable/objects.inv  # pandas
        - https://plotly.com/python-api-reference/objects.inv       # plotly
        - https://matplotlib.org/stable/objects.inv                 # matplotlib
        options:
          #########
          # GENERAL
          show_source: false
          # preload_modules: [braian.connectome]
          find_stubs_package: false                                 # splits docs from code
          ##########
          # HEADINGS
          heading_level: 1
          # parameter_headings: true                                # paid feature, gets permalinks
          show_root_heading: true
          show_root_full_path: false
          show_symbol_type_heading: true
          show_symbol_type_toc: true
          #########
          # MEMBERS
          inherited_members: true
          members_order: source # alphabetical
          filters: ["!^_"]
          group_by_category: true
          # summary: true                                           # paid feature
          ############
          # DOCSTRINGS
          docstring_style: numpy
          docstring_options:
            ignore_init_summary: false
            warn_unknown_params: true
          docstring_section_style: list # table, list or spacy
          merge_init_into_class: true
          show_if_no_docstring: false
          show_docstring_attributes: true
          show_docstring_modules: true
          ############
          # SIGNATURES
          annotations_path: source # brief
          show_signature: true
          show_signature_annotations: false
          separate_signature: true
          signature_crossrefs: true
          unwrap_annotated: true
          # extensions:
          #   - griffe_attrs

markdown_extensions:
  - admonition
  - pymdownx.escapeall:
      hardbreak: true