# SPDX-FileCopyrightText: 2024 Carlo Castoldi <carlo.castoldi@outlook.com>
# 
# SPDX-License-Identifier: CC0-1.0

site_name: BraiAn Docs
repo_url: https://codeberg.org/SilvaLab/BraiAn
site_description: a versatile toolkit for whole-brain quantitative analysis
site_author: Carlo Castoldi

nav:
  - index.md
  - Tutorials: tutorials.md
  - How-to guides:
    - how-to-guides.md
    - Notebook page: notebook.ipynb
  - API reference: reference.md
exclude_docs: |
  /resources/

theme:
  # name: material
  name: readthedocs
  highlightjs: true
  hljs_languages:
    - python
    # - toml
  include_homepage_in_sidebar: true
  prev_next_buttons_location: bottom
  navigation_depth: 4
  collapse_navigation: true
  titles_only: false
  sticky_navigation: true
  locale: en
  logo: null

plugins:
  - search
  - include-markdown:
      opening_tag: "{%"
      closing_tag: "%}"
      exclude:
        - "*.ipynb"
  - mkdocs-jupyter:
      include_source: True
      include_requirejs: true # required by plotly
      execute: false
      # theme: dark
  - progress
  - autorefs
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_source: false
            #extensions:
            #  - griffe_attrs

markdown_extensions:
  - admonition
  - pymdownx.escapeall:
      hardbreak: true