# SPDX-FileCopyrightText: 2024 Carlo Castoldi <carlo.castoldi@outlook.com>
#
# SPDX-License-Identifier: CC-BY-4.0

site_name: BraiAn Docs
repo_url: https://codeberg.org/SilvaLab/BraiAn
site_description: a versatile toolkit for whole-brain quantitative analysis
site_author: Carlo Castoldi

nav:
# - Home:
#   - ABBA - Aligning Big Brains & Atlases: https://abba-documentation.readthedocs.io/en/latest/index.html
# - Installation:
#   - Installation: https://abba-documentation.readthedocs.io/en/latest/installation/installation.html
#   - Fiji + ABBA plugin installation: https://abba-documentation.readthedocs.io/en/latest/installation/installation.html#fiji-abba-plugin-installation
#   - QuPath + ABBA extension installation: https://abba-documentation.readthedocs.io/en/latest/installation/installation.html#qupath-abba-extension-installation
# - Tutorial:
#   - Demo dataset: https://abba-documentation.readthedocs.io/en/latest/tutorial/demo_dataset.html
#   - QuPath - Making a project, compatible with ABBA: https://abba-documentation.readthedocs.io/en/latest/tutorial/0_create_qupath_dataset.html
#   - Fiji - BDV Navigation and QuPath project import: https://abba-documentation.readthedocs.io/en/latest/tutorial/1_import_qupath_project.html
#   - Fiji - Slices selection and display: https://abba-documentation.readthedocs.io/en/latest/tutorial/2_registration.html
#   - Fiji - Registration workflow: https://abba-documentation.readthedocs.io/en/latest/tutorial/2_registration.html#fiji-registration-workflow
#   - Fiji - Saving / Opening registrations results: https://abba-documentation.readthedocs.io/en/latest/tutorial/2_registration.html#fiji-saving-opening-registrations-results
#   - Fiji - Exporting ABBA’s registration results: https://abba-documentation.readthedocs.io/en/latest/tutorial/3_export_registrations.html
#   - QuPath - Using ABBA’s registration in QuPath: https://abba-documentation.readthedocs.io/en/latest/tutorial/4_qupath_analysis.html
# - Video tutorial:
#   - Video tutorial: https://abba-documentation.readthedocs.io/en/latest/tutorial/video_tuto.html
# - Slides tutorial:
#   - Slides tutorial: https://abba-documentation.readthedocs.io/en/latest/tutorial/slides_tuto.html
# - Explanation:
#   - Which data source can be used by ABBA ?: https://abba-documentation.readthedocs.io/en/latest/explanation/file_formats_supported.html
#   - ABBA state file and registration formats: https://abba-documentation.readthedocs.io/en/latest/explanation/registration_storage.html
# - FAQ:
#   - Frequent issues / Frequently asked questions: https://abba-documentation.readthedocs.io/en/latest/frequently_asked_questions.html
- BraiAn:
  - Home: index.md
  - Image analysis: braian-qupath.md
  - Data analysis: braian-python.md
  - License & Acknowledgements: acknowledgements.md
  - Bonus:
    - Run scripts faster: light-script-runner.md # make image.sc forum post point here instead
- Tutorials:
  - Multi-channel image analysis: image_analysis.md
  - read_qupath_data.ipynb
  - analysis_group.ipynb
  - analysis_marker.ipynb
# - How-to guides:
- API Reference:
  - BraiAn - QP extension: https://carlocastoldi.github.io/qupath-extension-braian/docs/
  - braian: api-braian.md
  - braian.stats: api-stats.md
  - braian.plot: api-plot.md
  - braian.config: api-config.md
- See also:
  - Atlas registration with ABBA: https://go.epfl.ch/abba
watch:
- braian

theme:
  # name: material
  # custom_dir: docs/custom_theme/material
  name: readthedocs
  highlightjs: true
  hljs_languages:
    - yaml
    - groovy
  hljs_style: vs
  include_homepage_in_sidebar: true
  prev_next_buttons_location: bottom
  navigation_depth: 4
  collapse_navigation: true
  titles_only: false
  sticky_navigation: true
  locale: en
  # logo: assets/logo/dark/compact.svg
  logo: assets/logo/dark/horizontal.svg
  # logo: assets/logo/dark/horizontal_condensed.svg

plugins:
- search
- open-in-new-tab # does not work with readthedocs
- include-markdown:
    opening_tag: "{%"
    closing_tag: "%}"
    exclude:
      - "*.ipynb"
- mkdocs-jupyter:
    include_source: true
    include_requirejs: true # required by plotly
    custom_mathjax_url: "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-AMS_CHTML-full,Safe"
    execute: false
- progress
- autorefs
- multi-theme:
    additional_themes:
    - pages:
      - api-braian.md
      - api-stats.md
      - api-plot.md
      - api-config.md
      theme:
        name: material
        custom_dir: docs/custom_theme/material
        highlightjs: true
        hljs_languages:
        - python
        include_homepage_in_sidebar: true
        prev_next_buttons_location: bottom
        navigation_depth: 4
        collapse_navigation: true
        titles_only: false
        sticky_navigation: true
        locale: en
        favicon: img/favicon.ico
        logo: assets/logo/dark/horizontal.svg
#         features:
#         - navigation.instant
- mkdocstrings:
    default_handler: python
    custom_templates: docs/custom_theme
    handlers:
      python:
        import:
        - https://docs.python.org/3/objects.inv                     # python
        - https://numpy.org/doc/stable/objects.inv                  # numpy
        - https://python.igraph.org/en/stable/api/objects.inv       # igraph
        # - https://igraph.org/python/doc/api/objects.inv             # igraph
        - https://docs.scipy.org/doc/scipy/reference/objects.inv    # scipy
        - https://pandas.pydata.org/pandas-docs/stable/objects.inv  # pandas
        - https://plotly.com/python-api-reference/objects.inv       # plotly
        - https://matplotlib.org/stable/objects.inv                 # matplotlib
        options:
          #########
          # GENERAL
          show_source: false
          # preload_modules: [braian.connectome]
          find_stubs_package: false                                 # splits docs from code
          ##########
          # HEADINGS
          heading_level: 1
          # parameter_headings: true                                # paid feature, gets permalinks
          show_root_heading: true
          show_root_full_path: false
          show_symbol_type_heading: true
          show_symbol_type_toc: true
          #########
          # MEMBERS
          inherited_members: true
          members_order: source # alphabetical
          filters: ["!^_"]
          group_by_category: true
          # summary: true                                           # paid feature
          ############
          # DOCSTRINGS
          docstring_style: numpy
          docstring_options:
            ignore_init_summary: false
            warn_unknown_params: true
          docstring_section_style: list # table, list or spacy
          merge_init_into_class: true
          show_if_no_docstring: false
          show_docstring_attributes: true
          show_docstring_modules: true
          ############
          # SIGNATURES
          annotations_path: source # brief
          show_signature: true
          show_signature_annotations: false
          separate_signature: true
          signature_crossrefs: true
          unwrap_annotated: true
          # extensions:
          #   - griffe_attrs

markdown_extensions:
  - admonition
  - markdown_captions
  - pymdownx.escapeall:
      hardbreak: true
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  # LaTeX rendering
  - javascripts/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js
  # copy codeblocks to clipboard
  - javascripts/copy-codeblocks.js
  - https://unpkg.com/clipboard@2.0.11/dist/clipboard.js

extra_css:
  - custom_theme/readthedocs/style.css
  - custom_theme/material/style.css
  - https://unpkg.com/katex@0/dist/katex.min.css
