{#-
SPDX-FileCopyrightText: 2024 Carlo Castoldi <carlo.castoldi@outlook.com>

SPDX-License-Identifier: LGPL-3.0-or-later
-#}

{% extends "_base/docstring/parameters.html.jinja" %}
{% block list_style %}
    {#- Block for the `list` section style. -#}
    <p><span class="doc-section-title">{{ section.title or lang.t("Parameters:") }}</span></p>
    <ul>
      {% for parameter in section.value %}
        <li class="doc-section-item field-body">
          <b><code>{{ parameter.name }}</code></b>
          {% if parameter.annotation %}
            {% with expression = parameter.annotation %}
              : <code>{% include "expression"|get_template with context %}</code>
              {%- if parameter.default %}, default=
                {% with expression = parameter.default %}
                  <code>{% include "expression"|get_template with context %}</code>
                {% endwith %}
              {% endif %}
            {% endwith %}
          {% endif %}
          <dd style="margin:0.5rem 0 1rem 2rem">
            <div class="doc-md-description">
              {{ parameter.description|convert_markdown(heading_level, html_id) }}
            </div>
          </dd>
        </li>
      {% endfor %}
    </ul>
{% endblock %}