{#-
SPDX-FileCopyrightText: 2024 Carlo Castoldi <carlo.castoldi@outlook.com>

SPDX-License-Identifier: LGPL-3.0-or-later
-#}

{% extends "_base/attribute.html.jinja" %}

{% block signature scoped %}
{% endblock %}